body {
    font-family: Arial, sans-serif;
    margin: 1.4em;
    padding: 2em;
    background-color: #ebcece;
}
img {
    width: 50%;
    height: auto;
}
h1 {
    color: #2e2d2d;
    text-align: center;
}
h2 {
    color: #750d0d;
}
h3 {
    color: #3a1602;
}


